<ng-container *ngIf="popularMovies">
  <app-slider [slides]="popularMovies"></app-slider>
</ng-container>

<ng-container *ngIf="upcomingMovies">
  <app-banner
    [title]="'Upcoming Movies'"
    [movies]="upcomingMovies"
    showsType="movie"
  ></app-banner>
</ng-container>

<ng-container *ngIf="topRatedMovies">
  <app-banner
    [title]="'Top Rated Movies'"
    [movies]="topRatedMovies"
    showsType="movie"
  ></app-banner>
</ng-container>

<ng-container *ngIf="popularTvShows">
  <app-banner
    [title]="'Popular TV Shows'"
    [movies]="popularTvShows"
    showsType="tv"
  ></app-banner>
</ng-container>
