@import "../../../styles/colors";

.genre-links {
  a {
    padding: 5px;
    background-color: $primary-color;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    font-size: 1.1rem;
    display: inline-block;
  }
}
